::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #144b8b;
  border-radius: 20px;
}

.logo-img {
  height: 70px;
}

section{
  margin: 1rem 6rem;
}

footer{
  padding: 1rem 6rem;
}

.react-responsive-modal-modal{
  border-radius: 10px;
}

.contact-links div:hover{
  background: #144B8B;
  color: #fff;
}

.listing-card:hover img{
  transform: scale(1.2);
}

.property-news div .news:hover{
  color:#144b8b
}